Справочная информация:

surgery? (1 = Yes, it had surgery, 2 = It was treated without surgery)  
Age (1 = Adult horse, 2 = Young (< 6 months))  
rectal temperature (normal temp is 37.8)  
pulse (30 - 40 is normal for adults)  
respiratory rate (normal rate is 8 to 10)  
temperature of extremities (1 = Normal,2 = Warm,3 = Cool, 4 = Cold)  
pain (1 = alert, no pain, 2 = depressed, 3 = intermittent mild pain, 4 = intermittent severe pain, 5 = continuous severe pain)    
outcome (1 = lived, 2 = died, 3 = was euthanized)

In [1]:
import pandas as pd

In [2]:
horse_data = pd.read_csv('C:\\Users\\User\\Desktop\\Аналитик данных\\Python\\к дз Базовые понятия статистики\\horse_data.csv', 
                         names = ['n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'n16', 'n17', 'n18', 'n19', 'n20', 'n21', 'n22', 'n23', 'n24', 'n25', 'n26', 'n27', 'n28'], header=None)
horse_data.head()

,n1,n2,n3,n4,n5,n6,n7,n8,n9,n10,...,n19,n20,n21,n22,n23,n24,n25,n26,n27,n28
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [3]:
horse_data.rename(columns = 
                  {
                      'n1' : 'surgery?', 
                      'n2' : 'Age',
                      'n4' : 'rectal_temperature',
                      'n5' : 'pulse',
                      'n6' : 'respiratory_rate',
                      'n7' : 'temperature_of_extremities',
                      'n11' : 'pain',
                      'n23' : 'outcome'                    
                  
                  }, inplace = True)

horse_data.head()

,surgery?,Age,n3,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,n8,n9,n10,...,n19,n20,n21,n22,outcome,n24,n25,n26,n27,n28
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [4]:
horse_data.drop(columns = ['n3', 'n8', 'n9', 'n10', 'n12', 'n13', 'n14', 'n15', 'n16', 'n17', 'n18', 'n19', 'n20', 'n21', 'n22', 'n24', 'n25', 'n26', 'n27', 'n28'], 
                axis = 1, inplace=True)

In [5]:
horse_data.head(10)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2
5,2,1,?,?,?,2,2,1
6,1,1,37.90,48,16,1,3,1
7,1,1,?,60,?,3,?,2
8,2,1,?,80,36,3,4,3
9,2,9,38.30,90,?,1,5,1

In [6]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    object
 1   Age                         300 non-null    int64
 2   rectal_temperature          300 non-null    object
 3   pulse                       300 non-null    object
 4   respiratory_rate            300 non-null    object
 5   temperature_of_extremities  300 non-null    object
 6   pain                        300 non-null    object
 7   outcome                     300 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.9+ KB

In [7]:
import numpy as np

In [ ]:
#ниже преобразуем тип данных object в числовой - по ряду параметров, чтобы можно было провести расчет базовых метрик
#вместо '?' проставим NaN - они никак не влияют на результат расчета метрик (не участвуют в расчетах), 
#кроме того, позволяют посмотреть, сколько в столбцах пропусков'''

In [8]:
horse_data['surgery?'] = horse_data['surgery?'].replace('?', np.nan)
horse_data['Age'] = horse_data['Age'].replace('?', np.nan)
horse_data['pain'] = horse_data['pain'].replace('?', np.nan)
horse_data['outcome'] = horse_data['outcome'].replace('?', np.nan)

In [9]:
horse_data['rectal_temperature'] = horse_data['rectal_temperature'].replace('?', np.nan)
horse_data['rectal_temperature'] = pd.to_numeric(horse_data['rectal_temperature'])

In [10]:
horse_data['pulse'] = horse_data['pulse'].replace('?', np.nan)
horse_data['pulse'] = pd.to_numeric(horse_data['pulse'])

In [11]:
horse_data['pain'] = horse_data['pain'].replace('?', np.nan)
horse_data['pain'] = pd.to_numeric(horse_data['pain'])

In [12]:
horse_data['respiratory_rate'] = horse_data['respiratory_rate'].replace('?', np.nan)
horse_data['respiratory_rate'] = pd.to_numeric(horse_data['respiratory_rate'])

In [13]:
horse_data['temperature_of_extremities'] = horse_data['temperature_of_extremities'].replace('?', np.nan)
horse_data['temperature_of_extremities'] = pd.to_numeric(horse_data['temperature_of_extremities'])

Первичные выводы по анализу базовых метрик:

1. Менее наполненные информацией столбцы с данными по ректальной температуре и частоте дыхания   
2. В столбце с возрастом присутствуют значения 1 и 9, а дб 1 и 2. Вероятно, ошибка в данных - исправлена.     
3. Подавляющее большинство лошадей - взрослые (т.е. им больше полугода)     
4. Среднее значение ректальной температуры выше нормы.   
5. Средний пульс составляет почти 72 удара, в то время как нормальный пульс - 30-40 ударов.   
6. Среднее значение частоты дыхания также вызывает вопросы. 
7. У показателей пульса и частоты дыхания очень большой разброс значений - 154 и 88, соответственно.
8. Больше половины лошадей были прооперированы (60.2 %)  
9. Чуть больше половины лошадей (59.53 %) после лечения остались живы.   
10. Половина лошадей - если анализировать данные, по которым проставлен уровень боли - испытывали слабую или легкую прерывистую боль.

## Начало расчета базовых метрик

In [55]:
'''данные по операциям и исходу будут анализироваться отдельно, т.к. эти метрики для них не подходят'''

horse_data.describe()

,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities
count,300.000000,240.000000,276.000000,242.000000,244.000000
mean,1.640000,38.167917,71.913043,30.417355,2.348361
std,2.173972,0.732289,28.630557,17.642231,1.045054
min,1.000000,35.400000,30.000000,8.000000,1.000000
25%,1.000000,37.800000,48.000000,18.500000,1.000000
50%,1.000000,38.200000,64.000000,24.500000,3.000000
75%,1.000000,38.500000,88.000000,36.000000,3.000000
max,9.000000,40.800000,184.000000,96.000000,4.000000

In [14]:
horse_data.loc[(horse_data.Age == 9), 'Age'] = 2 
'''Исправляем ошибку в данных, заменив 9 на 2'''
horse_data[horse_data.Age == 2].head()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1,2,39.1,164.0,84.0,4.0,2.0,2
9,2,2,38.3,90.0,NaN,1.0,5.0,1
13,2,2,38.0,92.0,28.0,1.0,1.0,2
16,1,2,NaN,128.0,36.0,3.0,4.0,2
23,1,2,38.3,130.0,60.0,NaN,2.0,1

In [57]:
horse_data['Age'].value_counts()

1    276
2     24
Name: Age, dtype: int64

In [58]:
horse_data['surgery?'].value_counts()

1    180
2    119
Name: surgery?, dtype: int64

In [59]:
surgery = ({'операция проведена': 180,'операция не потребовалась': 119, })

for key, value in surgery.items():
    percent = round((value/sum(surgery.values())*100), 2)
    
    print(f'Лошадей, которым {key}, было: {percent} %')

Лошадей, которым операция проведена, было: 60.2 %
Лошадей, которым операция не потребовалась, было: 39.8 %

In [60]:
horse_data['pulse'].max()-horse_data['pulse'].min()

154.0

In [61]:
horse_data['respiratory_rate'].max()-horse_data['respiratory_rate'].min()

88.0

In [62]:
horse_data['outcome'].value_counts()

1    178
2     77
3     44
Name: outcome, dtype: int64

In [63]:
outcome_ = ({'остались живыми': 178,'умерли': 77, 'были усыплены': 44, })

for key, value in outcome_.items():
    percent_ = round((value/sum(outcome_.values())*100), 2)
    
    print(f'Лошадей, которые {key}, было: {percent_} %')

Лошадей, которые остались живыми, было: 59.53 %
Лошадей, которые умерли, было: 25.75 %
Лошадей, которые были усыплены, было: 14.72 %

In [64]:
horse_data['pain'].value_counts()

#1 = не испытывали боли, 
#2 = слабая боль, 
#3 = прерывистая легкая боль, 
#4 = периодическая сильная боль, 
#5 = постоянная сильная боль

3    67
2    59
5    42
4    39
1    38
Name: pain, dtype: int64

In [65]:
pain_ = (
    {
        'не испытывали боли': 38,
        'испытывали слабую боль': 59, 
        'испытывали прерывистую легкую боль': 67, 
        'страдали от периодической сильной боли': 39, 
        'испытывали постоянную сильную боль': 42,
             }
)

pain_

{'не испытывали боли': 38,
 'испытывали слабую боль': 59,
 'испытывали прерывистую легкую боль': 67,
 'страдали от периодической сильной боли': 39,
 'испытывали постоянную сильную боль': 42}

In [66]:
print('По количеству лошадей, где данные по уровню боли заполнены, ситуация следующая:') 
      
for key, value in pain_.items():
    pain_percent = round((value/sum(pain_.values())*100), 2)
    
    print(f'{key} - {value} единиц(ы), что составляет {pain_percent} % от общего числа лошадей')

По количеству лошадей, где данные по уровню боли заполнены, ситуация следующая:
не испытывали боли - 38 единиц(ы), что составляет 15.51 % от общего числа лошадей
испытывали слабую боль - 59 единиц(ы), что составляет 24.08 % от общего числа лошадей
испытывали прерывистую легкую боль - 67 единиц(ы), что составляет 27.35 % от общего числа лошадей
страдали от периодической сильной боли - 39 единиц(ы), что составляет 15.92 % от общего числа лошадей
испытывали постоянную сильную боль - 42 единиц(ы), что составляет 17.14 % от общего числа лошадей

## Конец расчета базовых метрик

In [15]:
horse_data.isna().sum()

#Кол-во пропусков в представленном df

surgery?                       1
Age                            0
rectal_temperature            60
pulse                         24
respiratory_rate              58
temperature_of_extremities    56
pain                          55
outcome                        1
dtype: int64

In [16]:
horse_data[horse_data['surgery?'].isnull()]

#данные по наличию операции и исходу пропущены в одной строке.
#т.к. остальные строки по этим параметрам заполнены, принимаю решение заполнить пропуски значением моды.

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [17]:
horse_data['surgery?'] = horse_data['surgery?'].fillna(horse_data['surgery?'].mode()[0])
horse_data['outcome'] = horse_data['outcome'].fillna(horse_data['outcome'].mode()[0])

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['rectal_temperature'] == 38].head(10)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
13,2,2,38.0,92.0,28.0,1.0,1.0,2
42,2,1,38.0,60.0,12.0,3.0,3.0,1
69,2,1,38.0,48.0,12.0,1.0,1.0,1
83,1,1,38.0,NaN,24.0,3.0,5.0,2
85,2,1,38.0,54.0,30.0,2.0,3.0,1
90,2,1,38.0,52.0,16.0,NaN,2.0,1
103,1,2,38.0,140.0,68.0,1.0,3.0,1
116,1,1,38.0,44.0,12.0,1.0,3.0,1
125,1,1,38.0,42.0,68.0,4.0,3.0,1
132,1,1,38.0,48.0,20.0,3.0,4.0,1

In [18]:
horse_data[horse_data['pain'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2,1,37.3,104.0,35.0,NaN,NaN,2
7,1,1,NaN,60.0,NaN,3.0,NaN,2
17,2,1,37.5,48.0,24.0,NaN,NaN,1
19,2,1,39.4,110.0,35.0,4.0,NaN,1
24,1,1,38.1,60.0,12.0,3.0,NaN,1
25,2,1,37.8,60.0,42.0,NaN,NaN,1
27,1,1,37.8,48.0,12.0,3.0,NaN,1
28,1,1,NaN,NaN,NaN,NaN,NaN,2
36,2,1,38.3,112.0,16.0,NaN,NaN,3
39,1,2,39.2,146.0,96.0,NaN,NaN,2
41,2,2,39.0,150.0,72.0,NaN,NaN,1
53,2,1,38.6,40.0,20.0,NaN,NaN,1
56,1,1,NaN,NaN,NaN,NaN,NaN,1
68,2,1,NaN,52.0,16.0,1.0,NaN,1
72,1,1,37.7,56.0,NaN,NaN,NaN,2
74,1,2,NaN,NaN,NaN,NaN,NaN,2
87,2,1,NaN,40.0,16.0,NaN,NaN,3
94,2,1,37.5,48.0,30.0,4.0,NaN,1
96,2,1,NaN,84.0,36.0,NaN,NaN,1
106,1,1,38.3,52.0,96.0,NaN,NaN,1
113,1,1,36.8,60.0,28.0,NaN,NaN,2
129,1,1,38.4,49.0,NaN,NaN,NaN,1
130,1,1,37.8,30.0,12.0,NaN,NaN,2
141,2,1,36.0,42.0,30.0,NaN,NaN,2
152,1,1,NaN,100.0,NaN,3.0,NaN,1
157,1,1,37.8,60.0,24.0,1.0,NaN,3
161,1,1,38.3,42.0,24.0,NaN,NaN,2
165,1,1,39.4,120.0,48.0,NaN,NaN,3
170,2,1,37.5,44.0,20.0,1.0,NaN,1
175,1,1,NaN,NaN,NaN,NaN,NaN,1
185,1,1,38.5,120.0,60.0,4.0,NaN,1
186,1,1,39.3,64.0,90.0,2.0,NaN,1
188,1,1,38.5,60.0,NaN,1.0,NaN,1
195,2,1,38.0,44.0,12.0,3.0,NaN,1
202,1,1,37.5,48.0,40.0,NaN,NaN,3
207,1,1,NaN,NaN,NaN,NaN,NaN,2
208,1,1,37.8,88.0,80.0,3.0,NaN,3
213,1,1,37.6,45.0,12.0,3.0,NaN,1
216,2,1,NaN,NaN,NaN,NaN,NaN,1
217,1,1,38.0,76.0,18.0,NaN,NaN,1
227,1,2,NaN,NaN,NaN,NaN,NaN,1
229,1,2,38.5,120.0,70.0,NaN,NaN,1
232,1,1,38.5,30.0,18.0,NaN,NaN,1
234,2,1,37.5,48.0,30.0,4.0,NaN,1
243,1,1,38.4,92.0,20.0,1.0,NaN,1
257,1,1,38.7,96.0,28.0,3.0,NaN,2
262,2,2,38.6,88.0,28.0,NaN,NaN,1
268,1,1,38.2,42.0,20.0,NaN,NaN,1
269,1,1,39.3,64.0,90.0,2.0,NaN,1
274,1,1,NaN,76.0,NaN,NaN,NaN,3
283,1,1,38.2,72.0,18.0,NaN,NaN,1
287,2,2,39.5,84.0,30.0,NaN,NaN,1
288,1,1,NaN,NaN,NaN,NaN,NaN,1
293,1,1,NaN,78.0,24.0,3.0,NaN,3
299,1,1,37.2,40.0,20.0,NaN,NaN,3

In [19]:
#предположу, что исход лошади взаимосвязан с уровнем боли, которую она испытывает при болезни.
#исходя из этого предположения, заполняю столбец pain медианой

horse_data['pain'] = horse_data['pain'].fillna(horse_data.groupby('outcome')['pain'].transform('median'))

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['outcome'] == 2].head(10)

Empty DataFrame
Columns: [surgery?, Age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

In [20]:
horse_data[horse_data['temperature_of_extremities'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,1,1,39.2,88.0,20.0,NaN,3.0,3
4,2,1,37.3,104.0,35.0,NaN,4.0,2
17,2,1,37.5,48.0,24.0,NaN,3.0,1
23,1,2,38.3,130.0,60.0,NaN,2.0,1
25,2,1,37.8,60.0,42.0,NaN,3.0,1
28,1,1,NaN,NaN,NaN,NaN,4.0,2
36,2,1,38.3,112.0,16.0,NaN,3.0,3
37,1,1,37.8,72.0,NaN,NaN,5.0,1
39,1,2,39.2,146.0,96.0,NaN,4.0,2
41,2,2,39.0,150.0,72.0,NaN,3.0,1
53,2,1,38.6,40.0,20.0,NaN,3.0,1
56,1,1,NaN,NaN,NaN,NaN,3.0,1
72,1,1,37.7,56.0,NaN,NaN,4.0,2
74,1,2,NaN,NaN,NaN,NaN,4.0,2
81,1,1,37.3,40.0,NaN,NaN,2.0,1
87,2,1,NaN,40.0,16.0,NaN,3.0,3
90,2,1,38.0,52.0,16.0,NaN,2.0,1
95,1,1,37.3,48.0,20.0,NaN,3.0,1
96,2,1,NaN,84.0,36.0,NaN,3.0,1
106,1,1,38.3,52.0,96.0,NaN,3.0,1
113,1,1,36.8,60.0,28.0,NaN,4.0,2
121,1,1,38.3,80.0,40.0,NaN,4.0,3
128,1,1,37.4,84.0,20.0,NaN,2.0,3
129,1,1,38.4,49.0,NaN,NaN,3.0,1
130,1,1,37.8,30.0,12.0,NaN,4.0,2
141,2,1,36.0,42.0,30.0,NaN,4.0,2
148,1,1,38.3,132.0,NaN,NaN,2.0,1
149,2,1,38.7,48.0,24.0,NaN,1.0,1
160,1,1,NaN,NaN,NaN,NaN,4.0,1
161,1,1,38.3,42.0,24.0,NaN,4.0,2
165,1,1,39.4,120.0,48.0,NaN,3.0,3
169,1,1,NaN,65.0,24.0,NaN,5.0,3
175,1,1,NaN,NaN,NaN,NaN,3.0,1
177,1,1,NaN,68.0,14.0,NaN,4.0,2
181,2,1,37.8,48.0,14.0,NaN,3.0,1
190,1,1,37.1,40.0,8.0,NaN,3.0,1
202,1,1,37.5,48.0,40.0,NaN,3.0,3
207,1,1,NaN,NaN,NaN,NaN,4.0,2
210,1,1,37.9,68.0,20.0,NaN,2.0,2
216,2,1,NaN,NaN,NaN,NaN,3.0,1
217,1,1,38.0,76.0,18.0,NaN,3.0,1
227,1,2,NaN,NaN,NaN,NaN,3.0,1
229,1,2,38.5,120.0,70.0,NaN,3.0,1
232,1,1,38.5,30.0,18.0,NaN,3.0,1
239,1,1,38.1,70.0,22.0,NaN,5.0,3
260,2,1,38.0,40.0,25.0,NaN,4.0,1
262,2,2,38.6,88.0,28.0,NaN,3.0,1
263,1,1,37.1,75.0,36.0,NaN,4.0,2
268,1,1,38.2,42.0,20.0,NaN,3.0,1
274,1,1,NaN,76.0,NaN,NaN,3.0,3
280,1,1,38.6,48.0,12.0,NaN,1.0,1
283,1,1,38.2,72.0,18.0,NaN,3.0,1
287,2,2,39.5,84.0,30.0,NaN,3.0,1
288,1,1,NaN,NaN,NaN,NaN,3.0,1
289,1,1,38.0,50.0,36.0,NaN,3.0,1
299,1,1,37.2,40.0,20.0,NaN,3.0,3

In [21]:
#предположу, что температура конечностей лошади связана с уровнем боли.
#исходя из этого предположения, заполняю столбец temperature_of_extremities медианой

horse_data['temperature_of_extremities'] = horse_data['temperature_of_extremities'].fillna(horse_data.groupby('pain')['temperature_of_extremities'].transform('median'))

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['pain'] == 3].head(10)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,1,1,39.2,88.0,20.0,2.0,3.0,3
2,2,1,38.3,40.0,24.0,1.0,3.0,1
6,1,1,37.9,48.0,16.0,1.0,3.0,1
10,1,1,38.1,66.0,12.0,3.0,3.0,1
12,1,1,37.2,42.0,12.0,2.0,3.0,1
14,1,1,38.2,76.0,28.0,3.0,3.0,1
17,2,1,37.5,48.0,24.0,2.0,3.0,1
19,2,1,39.4,110.0,35.0,4.0,3.0,1
24,1,1,38.1,60.0,12.0,3.0,3.0,1
25,2,1,37.8,60.0,42.0,2.0,3.0,1

In [22]:
horse_data[horse_data['pulse'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2,1,NaN,NaN,NaN,2.0,2.0,1
28,1,1,NaN,NaN,NaN,3.0,4.0,2
52,2,1,NaN,NaN,NaN,1.0,1.0,1
56,1,1,NaN,NaN,NaN,2.0,3.0,1
58,1,1,NaN,NaN,20.0,4.0,5.0,2
74,1,2,NaN,NaN,NaN,3.0,4.0,2
78,1,1,NaN,NaN,NaN,3.0,5.0,2
83,1,1,38.0,NaN,24.0,3.0,5.0,2
93,2,1,NaN,NaN,NaN,3.0,5.0,2
115,2,1,NaN,NaN,40.0,3.0,3.0,1
117,2,1,39.5,NaN,NaN,3.0,3.0,3
126,1,1,38.7,NaN,NaN,3.0,5.0,1
136,1,1,NaN,NaN,NaN,3.0,5.0,2
151,1,1,39.3,NaN,NaN,4.0,4.0,2
159,2,1,NaN,NaN,12.0,1.0,2.0,1
160,1,1,NaN,NaN,NaN,3.0,4.0,1
174,2,1,NaN,NaN,NaN,3.0,4.0,2
175,1,1,NaN,NaN,NaN,2.0,3.0,1
182,1,1,38.0,NaN,24.0,3.0,5.0,2
204,1,1,39.2,NaN,23.0,3.0,4.0,1
207,1,1,NaN,NaN,NaN,3.0,4.0,2
216,2,1,NaN,NaN,NaN,2.0,3.0,1
227,1,2,NaN,NaN,NaN,2.0,3.0,1
288,1,1,NaN,NaN,NaN,2.0,3.0,1

In [23]:
#думаю, пульс можно заполнить в сцепке с уровнем боли

horse_data['pulse'] = horse_data['pulse'].fillna(horse_data.groupby('pain')['pulse'].transform('median'))

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['pain'] == 3].head(10)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,1,1,39.2,88.0,20.0,2.0,3.0,3
2,2,1,38.3,40.0,24.0,1.0,3.0,1
6,1,1,37.9,48.0,16.0,1.0,3.0,1
10,1,1,38.1,66.0,12.0,3.0,3.0,1
12,1,1,37.2,42.0,12.0,2.0,3.0,1
14,1,1,38.2,76.0,28.0,3.0,3.0,1
17,2,1,37.5,48.0,24.0,2.0,3.0,1
19,2,1,39.4,110.0,35.0,4.0,3.0,1
24,1,1,38.1,60.0,12.0,3.0,3.0,1
25,2,1,37.8,60.0,42.0,2.0,3.0,1

In [24]:
horse_data[horse_data['respiratory_rate'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2,1,NaN,78.0,NaN,2.0,2.0,1
7,1,1,NaN,60.0,NaN,3.0,4.0,2
9,2,2,38.3,90.0,NaN,1.0,5.0,1
28,1,1,NaN,77.5,NaN,3.0,4.0,2
29,2,1,37.7,48.0,NaN,2.0,1.0,1
32,1,1,37.2,60.0,NaN,2.0,3.0,1
37,1,1,37.8,72.0,NaN,3.0,5.0,1
38,2,1,38.6,52.0,NaN,1.0,3.0,1
40,1,1,NaN,88.0,NaN,3.0,5.0,2
43,1,1,NaN,120.0,NaN,3.0,4.0,3
45,2,1,NaN,120.0,NaN,4.0,5.0,2
50,2,1,38.6,46.0,NaN,1.0,1.0,1
52,2,1,NaN,48.0,NaN,1.0,1.0,1
56,1,1,NaN,60.0,NaN,2.0,3.0,1
59,2,1,NaN,96.0,NaN,3.0,5.0,2
61,2,1,38.5,60.0,NaN,2.0,1.0,1
66,2,1,37.9,72.0,NaN,1.0,3.0,1
72,1,1,37.7,56.0,NaN,3.0,4.0,2
74,1,2,NaN,77.5,NaN,3.0,4.0,2
75,1,2,39.7,100.0,NaN,3.0,2.0,3
78,1,1,NaN,88.0,NaN,3.0,5.0,2
81,1,1,37.3,40.0,NaN,3.0,2.0,1
93,2,1,NaN,88.0,NaN,3.0,5.0,2
112,1,1,NaN,40.0,NaN,2.0,1.0,1
117,2,1,39.5,60.0,NaN,3.0,3.0,3
126,1,1,38.7,88.0,NaN,3.0,5.0,1
129,1,1,38.4,49.0,NaN,2.0,3.0,1
134,1,1,NaN,100.0,NaN,3.0,5.0,2
136,1,1,NaN,88.0,NaN,3.0,5.0,2
137,1,1,38.0,48.0,NaN,1.0,1.0,1
138,2,1,38.0,56.0,NaN,1.0,1.0,1
142,1,1,NaN,120.0,NaN,4.0,5.0,2
146,1,1,38.2,48.0,NaN,1.0,3.0,1
148,1,1,38.3,132.0,NaN,3.0,2.0,1
151,1,1,39.3,77.5,NaN,4.0,4.0,2
152,1,1,NaN,100.0,NaN,3.0,3.0,1
160,1,1,NaN,77.5,NaN,3.0,4.0,1
164,1,1,38.7,76.0,NaN,1.0,3.0,1
173,1,1,NaN,104.0,NaN,3.0,2.0,2
174,2,1,NaN,77.5,NaN,3.0,4.0,2
175,1,1,NaN,60.0,NaN,2.0,3.0,1
179,2,1,38.5,100.0,NaN,3.0,4.0,3
188,1,1,38.5,60.0,NaN,1.0,3.0,1
201,1,1,38.5,86.0,NaN,1.0,4.0,2
205,2,1,38.5,100.0,NaN,3.0,4.0,3
207,1,1,NaN,77.5,NaN,3.0,4.0,2
216,2,1,NaN,60.0,NaN,2.0,3.0,1
227,1,2,NaN,60.0,NaN,2.0,3.0,1
238,2,1,36.1,88.0,NaN,3.0,3.0,3
245,2,1,NaN,96.0,NaN,3.0,5.0,2
249,2,1,38.2,48.0,NaN,2.0,3.0,1
254,1,1,NaN,80.0,NaN,3.0,4.0,1
256,1,1,37.5,72.0,NaN,2.0,2.0,3
271,1,1,37.7,80.0,NaN,3.0,5.0,1
274,1,1,NaN,76.0,NaN,2.0,3.0,3
281,2,1,40.0,78.0,NaN,3.0,2.0,2
284,2,1,38.5,54.0,NaN,1.0,3.0,1
288,1,1,NaN,60.0,NaN,2.0,3.0,1

In [25]:
#частота дыхания зависит от пульса

horse_data['respiratory_rate'] = horse_data['respiratory_rate'].fillna(horse_data.groupby('pulse')['respiratory_rate'].transform('median'))

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['pulse'] == 60].head()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
7,1,1,NaN,60.0,29.0,3.0,4.0,2
24,1,1,38.1,60.0,12.0,3.0,3.0,1
25,2,1,37.8,60.0,42.0,2.0,3.0,1
32,1,1,37.2,60.0,29.0,2.0,3.0,1
42,2,1,38.0,60.0,12.0,3.0,3.0,1

In [26]:
horse_data[horse_data['rectal_temperature'].isnull()]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2,1,NaN,78.0,24.0,2.0,2.0,1
7,1,1,NaN,60.0,29.0,3.0,4.0,2
8,2,1,NaN,80.0,36.0,3.0,4.0,3
16,1,2,NaN,128.0,36.0,3.0,4.0,2
28,1,1,NaN,77.5,23.0,3.0,4.0,2
34,1,1,NaN,100.0,30.0,3.0,5.0,1
35,2,1,NaN,104.0,24.0,4.0,4.0,3
40,1,1,NaN,88.0,24.0,3.0,5.0,2
43,1,1,NaN,120.0,48.0,3.0,4.0,3
45,2,1,NaN,120.0,48.0,4.0,5.0,2
52,2,1,NaN,48.0,20.0,1.0,1.0,1
56,1,1,NaN,60.0,29.0,2.0,3.0,1
57,1,1,NaN,64.0,36.0,2.0,5.0,2
58,1,1,NaN,88.0,20.0,4.0,5.0,2
59,2,1,NaN,96.0,30.0,3.0,5.0,2
65,1,1,NaN,60.0,36.0,3.0,3.0,1
68,2,1,NaN,52.0,16.0,1.0,3.0,1
74,1,2,NaN,77.5,23.0,3.0,4.0,2
78,1,1,NaN,88.0,24.0,3.0,5.0,2
86,1,1,NaN,88.0,40.0,3.0,5.0,2
87,2,1,NaN,40.0,16.0,2.0,3.0,3
93,2,1,NaN,88.0,24.0,3.0,5.0,2
96,2,1,NaN,84.0,36.0,2.0,3.0,1
101,1,1,NaN,60.0,20.0,4.0,5.0,3
105,1,1,NaN,70.0,36.0,1.0,2.0,1
110,1,1,NaN,70.0,16.0,3.0,2.0,2
112,1,1,NaN,40.0,17.0,2.0,1.0,1
115,2,1,NaN,60.0,40.0,3.0,3.0,1
134,1,1,NaN,100.0,37.0,3.0,5.0,2
136,1,1,NaN,88.0,24.0,3.0,5.0,2
142,1,1,NaN,120.0,48.0,4.0,5.0,2
145,2,1,NaN,80.0,32.0,3.0,2.0,1
152,1,1,NaN,100.0,37.0,3.0,3.0,1
159,2,1,NaN,78.0,12.0,1.0,2.0,1
160,1,1,NaN,77.5,23.0,3.0,4.0,1
167,2,1,NaN,44.0,24.0,1.0,3.0,1
169,1,1,NaN,65.0,24.0,3.0,5.0,3
173,1,1,NaN,104.0,37.5,3.0,2.0,2
174,2,1,NaN,77.5,23.0,3.0,4.0,2
175,1,1,NaN,60.0,29.0,2.0,3.0,1
177,1,1,NaN,68.0,14.0,3.0,4.0,2
178,1,1,NaN,60.0,30.0,3.0,5.0,1
191,2,2,NaN,100.0,44.0,2.0,4.0,1
193,1,1,NaN,60.0,48.0,3.0,4.0,2
207,1,1,NaN,77.5,23.0,3.0,4.0,2
216,2,1,NaN,60.0,29.0,2.0,3.0,1
219,1,1,NaN,52.0,28.0,3.0,3.0,1
222,1,1,NaN,112.0,13.0,4.0,2.0,1
227,1,2,NaN,60.0,29.0,2.0,3.0,1
242,1,1,NaN,36.0,32.0,1.0,5.0,2
245,2,1,NaN,96.0,30.0,3.0,5.0,2
253,2,1,NaN,112.0,24.0,3.0,5.0,1
254,1,1,NaN,80.0,38.0,3.0,4.0,1
265,2,1,NaN,56.0,68.0,3.0,3.0,3
272,1,1,NaN,100.0,30.0,3.0,5.0,1
274,1,1,NaN,76.0,23.0,2.0,3.0,3
282,1,1,NaN,70.0,16.0,3.0,2.0,2
288,1,1,NaN,60.0,29.0,2.0,3.0,1
293,1,1,NaN,78.0,24.0,3.0,3.0,3
295,1,1,NaN,120.0,70.0,4.0,2.0,3

In [27]:
#в свою очередь, ректальная температура, скорее всего, находится во взаимосвязи с пульсом и частотой дыхания.
#принимаю решение заполнить пропуски в столбце rectal_temperature в сцепке с пульсом

horse_data['rectal_temperature'] = horse_data['rectal_temperature'].fillna(horse_data.groupby('pulse')['rectal_temperature'].transform('median'))

#посмотрим, какими значениями заполнились пропуски
horse_data.loc[horse_data['pulse'] == 60].head()

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
7,1,1,38.1,60.0,29.0,3.0,4.0,2
24,1,1,38.1,60.0,12.0,3.0,3.0,1
25,2,1,37.8,60.0,42.0,2.0,3.0,1
32,1,1,37.2,60.0,29.0,2.0,3.0,1
42,2,1,38.0,60.0,12.0,3.0,3.0,1